<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheRestLauncher.Settings.StartMinecraft" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheRestLauncher.Settings.StartMinecraft" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheRestLauncher.Settings.Launcher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TheRestLauncher.Settings.StartMinecraft>
            <setting name="mWidth" serializeAs="String">
                <value>854</value>
            </setting>
        </TheRestLauncher.Settings.StartMinecraft>
    </applicationSettings>
    <userSettings>
        <TheRestLauncher.Settings.StartMinecraft>
            <setting name="mHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="mFullScreen" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="mRAM" serializeAs="String">
                <value>4096</value>
            </setting>
        </TheRestLauncher.Settings.StartMinecraft>
        <TheRestLauncher.Settings.Launcher>
            <setting name="Nickname" serializeAs="String">
                <value>Steve</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDevMode" serializeAs="String">
                <value>False</value>
            </setting>
        </TheRestLauncher.Settings.Launcher>
    </userSettings>
</configuration>