<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheRestLauncher.Settings.StartMinecraft" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TheRestLauncher.Settings.StartMinecraft>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
        </TheRestLauncher.Settings.StartMinecraft>
    </applicationSettings>
</configuration>